@model FreshPanPizza.Models.ItemModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = Model != null ? "Edit" : "Create";
    ViewBag.pTitle = Model != null ? "Edit" : "Create";
    ViewBag.pageTitle = "Admin";
    ViewBag.cardTitle = Model != null ? "Edit" : "Add";
    Layout = "~/Areas/Admin/Views/Shared/PizzaCustomLayouts/_LayoutPizzaCustom.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">@ViewBag.cardTitle items</h4>

                <form asp-action="@ViewBag.Title" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="CategoryId" class="control-label"></label>
                                <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="ItemTypeId" class="control-label"></label>
                                <select asp-for="ItemTypeId" class="form-control" asp-items="@(new SelectList(ViewBag.ItemTypes,"Id","Name"))">
                                    <option value="">Select</option>
                                </select>
                                <span asp-validation-for="ItemTypeId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" placeholder="Enter Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="UnitPrice" class="control-label"></label>
                                <input asp-for="UnitPrice" class="form-control" placeholder="Enter Price" onkeypress="return isNumberKey(event)" />
                                <span asp-validation-for="UnitPrice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" placeholder="Enter Price" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-lg-6">                           
                                <label asp-for="File" class="control-label"></label>                         
                                <input asp-for="File" class="form-control" type="file" />
                                <span asp-validation-for="File" class="text-danger"></span>
                                                      
                              <br/>
                            @if (Model != null && !string.IsNullOrEmpty(Model.ImageUrl))
                            {
                            <input type="hidden" asp-for="ImageUrl" />
                            <img id="itemImage" src="@Model.ImageUrl" height="150" width="150" style="border:1px solid" />
                            }
                        </div>
                    </div>
                    <br />
                    <div>
                        <input type="submit" value="Save" class="btn btn-primary w-md" />
                        &nbsp; <a asp-action="Index" asp-controller="Item" class="btn btn-danger w-md">Cancel</a>
                    </div>
                </form>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
    <!-- end col -->
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            function isNumberKey(evt) {
                var charCode = (evt.which) ? evt.which : event.keyCode;
                if ((charCode < 48 || charCode > 57))
                    return false;

                return true;
            }
        </script>
    }

    @*     <script src="~/assets/js/pages/form-validation.init.js"></script> *@
    <script src="~/assets/js/app.js"></script>
}