@model IEnumerable<FreshPanPizza.Entities.Item>
@{
    ViewBag.Title = "Non-Veg Pizza";
    ViewBag.pTitle = "Menu";
    ViewBag.pageTitle = "Non-Veg Pizza";
    Layout = "~/Views/Shared/Layouts/_layout_hprozontal_boxed_custom.cshtml";
}

<style>

    .desc_limit {
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3.6em;
        line-height: 1.8em;
        max-height: 50px !important;
        height: 50px !important;
    }

    .my_card_img {
        max-height: 120px !important;
    }
</style>
<div id="preloader">
    <div id="status">
        <div class="spinner-chase">
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
        </div>
    </div>
</div>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-6 col-xl-3">
            <!-- Simple card -->
            <div class="card">
                <img class="my_card_img card-img-top img-fluid" src="@item.ImageUrl" alt="@item.Name">
                <div class="card-body">
                    <h4 class="card-title">@item.Name</h4>
                    <p class="card-text">
                        <i class="desc_limit" title="@item.Description">@item.Description</i>
                    </p>
                    <div class="row">
                        <div class="col-xl-9">
                            <p class="card-text">
                                <small class="text-muted">Regular/Med/Large size</small>
                            </p>
                        </div>
                        <div class="col-xl-3">@item.UnitPrice</div>
                    </div>
                    <br />
                    <a href="javascript: void(0);" class="btn btn-outline-primary waves-effect waves-light" onclick="AddToCart('@item.Id','@item.Name','@item.UnitPrice',2)">Add to Cart</a>
                </div>
            </div>
        </div>
        <!-- end col -->
    }


</div>


@section scripts {

    <script src="/assets/js/app.js"></script>
}