@model IEnumerable<FreshPanPizza.Entities.Item>
@{
    ViewBag.Title = "Veg Pizza";
    ViewBag.pTitle = "Menu";
    ViewBag.pageTitle = "Veg Pizza";
    Layout = "~/Views/Shared/Layouts/_layout_hprozontal_boxed_custom.cshtml";
    var dt = DateTime.Now;
    string date = dt.ToString("dd-MM");
    string time = dt.ToString("HH:mm");
}

<style>
    .desc_limit {
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3.6em;
        line-height: 1.8em;
        max-height: 50px !important;
        height: 50px !important;
    }

    .my_card_img {
        max-height: 120px !important;
    }
</style>

<div id="preloader">
    <div id="status">
        <div class="spinner-chase">
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
        </div>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-xl-3">
            <!-- Simple card -->
            <div class="card">
                <img class="my_card_img card-img-top img-fluid" src="@item.ImageUrl" alt="@item.Name">
                <div class="card-body">
                    <h4 class="card-title">@item.Name</h4>
                    <p class="card-text">
                        <i class="desc_limit" title="@item.Description">@item.Description</i>
                    </p>
                    <div class="row">
                        <div class="col-xl-9">
                            <p class="card-text">
                                <small class="text-muted">Regular/Med/Large size</small>
                            </p>
                        </div>
                        <div class="col-xl-3">₹ @item.UnitPrice.ToString("##.#")</div>
                    </div>
                    <br />
                    <a href="javascript: void(0);" class="btn btn-outline-primary waves-effect waves-light" onclick="AddToCart('@item.Id','@item.Name','@item.UnitPrice',1)">Add to Cart</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="d-flex flex-wrap gap-2">
    <div>
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 1005">
            <div id="liveToast" class="toast fade" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="/assets/images/PizzaLogo/logo.png" class="me-2" alt="logo" height="18">
                    <strong class="me-auto" style="color:black !important">Notification</strong>
                    <small style="color:black">@time</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" style="color:black">
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script src="/assets/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="~/assets/js/cart.js"></script>

   @*  <script>
        function AddToCart(ItemId, Name, UnitPrice, Quantity) {
          
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '/Cart/AddToCart/' + ItemId + "/" + UnitPrice + "/" + Quantity,
                success: function (d) {
                   
                    var data = JSON.parse(d);
                    if (data.Items.length > 0) {
                        $('.noti_Counter').text(data.Items.length);
                        var message = '<strong>' + Name + '</strong> Added to <a>Cart</a> Successfully!';
                        $('#liveToast > .toast-body').html(message);
                        $('#liveToast').toast("show");
                        setTimeout(function () {
                            $('#liveToast').toast("hide");
                        }, 4000);
                    }
                },
                error: function (result) {
                }
            });
        }
    </script> *@
}